@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    background-color: #F2F2F2;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.main-navigation {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 460px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation-link {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-top: 9px;
    margin-bottom: 15px;
    padding: 6px 10px;
    outline: none;
}

.site-navigation-link:nth-child(1) {
    margin-right: 8px;
}

.site-navigation-link:hover {
    color: #756257;
}

.site-navigation-link:focus {
    color: #756257;
    border: 3px solid #83B3D3;
}

.site-navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
}

.site-navigation-link-current {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-left: -13px;
    pointer-events: none;
}

.site-navigation-link-current::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 11px;
    right: 11px;
    bottom: -16px;
    height: 2px;
    background-color: #756257;
}

.main-page-logo {
    width: 138px;
    height: 65px;
    position: relative;
}

.user-navigation {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 460px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.user-link {
    display: block;
    position: relative;
}

.navigation-link-svg {
    position: relative;
    padding: 4px 16px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 3px solid transparent;
    outline: none;
}

.lens-icon {
    display: inline-block;
    padding: 7px 7px;
    outline: 3px solid transparent;
    outline-offset: -3px;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    margin-right: -5px;
    box-sizing: content-box;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.lens-icon:hover {
    background-image: url("../img/search-hover.svg");
}

.lens-icon:focus {
    background-image: url("../img/search-hover.svg");
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
}

.lens-icon:active {
    background-image: url("../img/search-active.svg");
}

.number-of-hearts {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background: #7DB550;
    border-radius: 50%;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    left: 15px;
    bottom: 15px;
}

.number-of-hearts:active {
    color: rgba(255, 255, 255, 0.3);
}

.heart-icon {
    display: inline-block;
    position: relative;
    padding: 7px 7px;
    outline: 3px solid transparent;
    outline-offset: -3px;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    margin-right: 21px;
    box-sizing: content-box;
    background-image: url("../img/heart-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.heart-icon:hover {
    background-image: url("../img/heart-hover.svg");
}

.heart-icon:focus {
    background-image: url("../img/heart-hover.svg");
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
}

.heart-icon:active {
    background-image: url("../img/heart-active.svg");
}

.main-container {
    margin-top: -3px;
}

.welcome-block {
    margin: 0;
    margin-bottom: 5px;
    padding-top: 51px;
    padding-bottom: 73px;
    background-image: url(../img/welcome-divider.png), url(../img/background-photo.png);
    background-color: #ddeaf5;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
}

.discription-text {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.discription-text-head {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 33px;
}

.discription-text-reasons {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    margin: 0;
    margin-bottom: 20px;
}

.reason-block {
    display: flex;
}

.reason-item-picture {
    width: 800px;
}

.reason-block-discription {
    background-color: #83B3D3;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    width: 400px;
    min-height: 384px;
    padding: 98px 75px 77px 75px;
}

.reason-block-head {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 30px;
}

.reason-block-item {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin: 0;
}

.reason-block-number {
    display: block;
    margin-bottom: 30px;
}

.advantage-block-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.reason-picture {
    object-fit: cover;
    display: block;
    height: 100%;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 400px;
    min-height: 384px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    padding: 89px 75px 79px 75px;
}

.advantage-head {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.advantage-icon {
    margin: 0;
    margin-bottom: 23px;
}

.backround-type-1 {
    background-color: rgba(131, 179, 211, 0.12);
}

.backround-type-2 {
    background-color: #FFFFFF;
}

.backround-type-3 {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantage-discription:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}

.advantage-discription {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
}

.reasons-item {
    width: 400px;
    min-height: 384px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    padding: 98px 75px 77px 75px;
}

.reasons-head {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}

.reasons-number {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.reason-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.advantages-2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.search {
    display: flex;
    flex-direction: column;
    padding-top: 91px;
    padding-bottom: 91px;
    padding-left: 240px;
    padding-right: 240px;
}

.search-head {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8px;
}

.search-input {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-bottom: 58px;
}

.search-button {
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 72px;
    margin-right: 72px;
}

.search-button:hover {
    background: #615048;
}

.search-button:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
}

.search-button:active {
    background: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-link {
    display: inline;
    border: 3px solid transparent;
    padding: 10px 15px;
    margin-left: -18px;
    text-decoration: none;
    color: #000000;
}

.hotel-link:hover {
    color: #756257;
}

.hotel-link:focus {
    color: #756257;
    border-radius: 10px;
    outline: 3px solid #83B3D3;
}

.hotel-link:active {
    color: rgba(117, 98, 87, 0.3);
}

.catalog-mailing {
    background-image: none;
    background-color: #ffffff;
    padding-top: 0;
    padding-bottom: 137px;
    text-align: center;
}

.mailing {
    background-image: url("../img/mailing-background.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-top: 94px;
    padding-bottom: 93px;
    text-align: center;
    background-color: #54779f;
    background-size: cover;
}

.mailing-head {
    margin: 0;
    padding-bottom: 28px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: -7px;
}

.mailing-text {
    margin: 0;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: 47px;
    line-height: 26px;
    color: #ffffff;
    font-weight: normal;
    font-size: 22px;
}

.mailing-form {
    display: flex;
    margin: 0 auto;
    width: 800px;
}

.mailing-email {
    flex-grow: 1;
    margin: 0;
}

.mailing-input {
    width: 600px;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

.mailing-input {
    margin: 0;
    padding: 19px 14px 19px 22px;
    font-family: inherit;
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
    border: 0;
    outline: none;
}

.mailing-input:hover {
    background-color: #E5E5E5;
}

.mailing-input:focus:not(:active):placeholder-shown {
    outline: 3px solid #83B3D3;
}

.mailing-input:not(:placeholder-shown) {
    outline: 2px solid #000000;
    outline-offset: -2px;
}

.mailing-input:invalid {
    box-shadow: none;
}

.mailing-button {
    width: 200px;
    height: 61px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: inherit;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #83B3D3;
    border: 3px solid transparent;
    border-radius: 0px 10px 10px 0px;
    outline: 0;
}

.mailing-button:hover {
    background: #68A2CA;
    cursor: pointer;
}

.mailing-button:focus:not(:active) {
    border-color: #756257;
}

.mailing-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-sort-head {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.selection-block {
    background-image: url("../img/catalog-background.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    background-size: cover;
    background-color: #333333;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0;
    margin-left: 58px;
    padding: 0;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 20px;
    height: 18px;
    margin-right: 24px;
}

.social-button {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
}

.social-button:focus:not(:active) {
    border-color: #83B3D3;
}

.social-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.social-icon:hover {
    fill: #68A2CA;
}

.social-icon:active {
    opacity: 0.3;
}

.footer-contacts {
    padding-left: 9px;
    padding-bottom: 10px;
}

.footer-contacts-phone {
    width: 361px;
    height: 52px;
    padding: 10px 15px 10px 15px;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
}

.footer-contacts-phone:hover {
    color: #756257;
}

.footer-contacts-phone:focus:not(:active) {
    border-color: #83B3D3;
}

.footer-contacts-phone:active {
    opacity: 0.3;
}

.footer-copyright {
    max-width: 115px;
    margin-left: auto;
    margin-right: 97px;
    margin-top: -14px;
}

.footer-copyright-link {
    display: inline-block;
    padding: 20px 13px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
}

.footer-copyright-link:focus:not(:active) {
    border-color: #83B3D3;
}

.htmlacademy-logo:hover {
    fill: #756257;
}

.htmlacademy-logo:active {
    opacity: 0.3;
}


/* Каталог */

.want-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
    width: 160px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
}

.want-button:hover {
    background-color: #615048;
}

.want-button:focus {
    background-color: #615048;
    border: 3px solid #83B3D3;
}

.want-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #615048;
}

.catalog-main-head {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    margin-left: 71px;
    margin-bottom: 5px;
}

.inner-nav {
    padding-left: 73px;
}

.inner-nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 41px;
}

.catalog-filter {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 83px;
}

.catalog-filter-group-infrastucture {
    margin: 0;
    padding: 0;
    margin-right: 67px;
    border: none;
}

.catalog-filter-group-housing-type {
    margin: 0;
    padding: 0;
    border: none;
    margin-right: 140px;
    width: 288px;
    display: grid;
    gap: 20px;
}

.catalog-filter-group-cost {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-right: 81px;
    border: none;
}

.hotel-sorting {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}

.sorting-type {
    margin: 44px 81px 0px 0px;
    width: 290px;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 287px;
    margin-right: auto;
}

.select-control {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    padding: 9px 60px 11px 20px;
    font-family: inherit;
    font-size: 18px;
    color: #333333;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 21px center;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    outline: none;
    appearance: none;
}

.select-control:hover,
.select-control:focus:not(:active) {
    border-color: #83B3D3;
    cursor: pointer;
}

.select-control:active {
    opacity: 0.3;
}

.button-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-top: 44px;
    margin-right: 8px;
    background-color: #ffffff;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

.button-sort:last-child {
    margin-right: 0;
}

.button-sort:hover:not(.button-sort-active),
.button-sort:focus:not(.button-sort-active) {
    border: 2px solid #83B3D3;
    cursor: pointer;
}

.button-sort-active {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

.button-sort-icon {
    fill: #000000;
}

.results-block {
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 28px;
    padding-bottom: 30px;
}

.result-item {
    border-bottom: 1px solid var(--basic-light-grey-3);
    display: grid;
    grid-template-columns: 180px 1fr 160px;
    padding-bottom: 30px;
    column-gap: 36px;
}

.rating-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.result-description {
    display: grid;
    grid-template-columns: 159px 160px auto;
    grid-template-rows: repeat(3, min-content);
}

.result-description-header {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    padding: 0px;
    margin: 0px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.result-image {
    width: 180px;
    height: 120px;
}

.result-image img {
    object-fit: contain;
}

.result-image:hover {
    opacity: 0.6;
}

.result-image:focus {
    outline: 3px solid #83B3D3;
}

.result-image:active {
    opacity: 0.3;
}

.inner-nav-item {
    display: inline-block;
    padding: 7px 7px;
    outline: 3px solid transparent;
    outline-offset: -3px;
    border-radius: 4px;
    width: 18px;
    height: 17px;
    box-sizing: content-box;
    background-image: url(../img/home-page-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
    margin-top: 1px;
}

.inner-nav-item:hover {
    color: rgba(255, 255, 255, 0.6);
}

.inner-nav-item:focus {
    color: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
}

.inner-nav-item:active {
    color: rgba(255, 255, 255, 0.3);
}

.inner-nav-item-current {
    display: inline-block;
    padding: 5px 5px;
    outline: 3px solid transparent;
    outline-offset: -3px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    box-sizing: content-box;
    cursor: pointer;
    margin-top: 5px;
}

.inner-nav-item-current:hover {
    color: rgba(255, 255, 255, 0.6);
}

.inner-nav-item-current:focus {
    color: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
}

.inner-nav-item-current:active {
    color: rgba(255, 255, 255, 0.3);
}

.marker-icon {
    margin-top: 16px;
    margin-right: 10px;
}

.catalog-filter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-filter-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

.catalog-filter-label {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    padding-right: 16px;
    width: 143px;
    height: 48px;
    border: 2px solid #FFFFFF;
}

.catalog-filter-label:focus-within {
    box-shadow: 0px 0px 0px 3px #81b3d2, inset 0px 0px 0px 3px #81b3d2;
}

.catalog-filter-label:not(:focus-within):hover {
    border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:active {
    background: #756257;
    ;
}

.catalog-filter-label:first-child:hover {
    border-right-width: 2px;
    margin-right: 0;
}

.catalog-filter-label:last-child {
    position: relative;
    z-index: 1;
    margin-left: -2px;
    border-radius: 0 4px 4px 0;
}

.catalog-filter-input {
    all: unset;
    color: #FFFFFF;
    order: -1;
    padding: 11px 0 11px 18px;
    width: 65px;
}

.catalog-filter-input {
    -moz-appearance: textfield;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.28;
    text-transform: lowercase;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: #FFFFFF;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #999898;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus,
.range-toggle:active {
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
    top: -8px;
    left: -196px;
}

.toggle-max {
    top: -8px;
    right: 71px;
}

.control {
    position: relative;
    display: block;
    padding-left: 44px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.control-input[type="checkbox"]:checked+.control-mark::before,
.control-input[type="checkbox"]:checked+.control-mark::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/tick-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.square-mark:hover {
    background: rgba(255, 255, 255, 0.6);
}

.control-input:focus+.control-mark {
    background: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
}

.square-mark:active {
    background: rgba(255, 255, 255, 0.3);
}

.tape-of-housing {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 0;
    margin-bottom: 31px;
}

.price-of-housing {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 0;
    margin-bottom: 31px;
}

.detail-button-hotel {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
    text-decoration: none;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.detail-button-hotel:hover {
    background-color: #615048;
}

.detail-button-hotel:focus {
    background-color: #615048;
    border: 3px solid #83B3D3;
}

.detail-button-hotel:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.favorit-button-hotel {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.favorit-button-hotel:hover {
    background-color: #68A2CA;
}

.favorit-button-hotel:focus {
    background-color: #68A2CA;
    border: 3px solid #756257;
}

.favorit-button-hotel:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.in-favorites {
    background-color: #7DB54F;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.in-favorites:hover {
    background-color: #6C9E42;
}

.in-favorites:focus {
    background-color: #6C9E42;
    border: 3px solid #756257;
}

.in-favorites:active {
    background-color: #6C9E42;
    color: rgba(255, 255, 255, 0.3);
}

.rating-table {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 160px;
}

.sorting-head {
    margin: 0;
    margin-top: 48px;
    margin-bottom: 74px;
    margin-right: auto;
    width: 350px;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
}

.catalog-filter-buttons {
    padding: 0;
    border: none;
    margin-top: 61px;
}

.button-apply {
    margin: 0;
    margin-bottom: 10px;
    padding: 11px 32px 11px 32px;
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #83b3d3;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: none;
}

.button-apply:hover {
    background: #68A2CA;
    cursor: pointer;
}

.button-apply:focus:not(:active) {
    border-color: #ffffff;
}

.button-apply:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-reset {
    margin-bottom: 10px;
    margin-left: 33px;
    padding: 3px 9px 3px 9px;
    font-family: inherit;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 4px;
    text-align: center;
    outline: none;
}

.button-reset:hover {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.button-reset:focus:not(:active) {
    border-color: #83B3D3;
}

.button-reset:active {
    color: rgba(255, 255, 255, 0.3);
}

.download-more {
    display: flex;
    flex-direction: column;
    padding: 31px 287px 30px 288px;
    margin-bottom: 61px;
}

.download-more-button {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 13px;
    cursor: pointer;
}

.download-more-button:hover {
    background-color: #68A2CA;
}

.download-more-button:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
    outline-offset: -3px;
}

.download-more-button:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-flex {
    position: relative;
    display: flex;
    margin-bottom: 87px;
    padding-left: 72px;
    padding-right: 72px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 376px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    width: 55px;
    min-height: 55px;
    margin: 0;
    padding-top: 12px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #83B3D3;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.pagination-link:hover:not(.pagination-current) {
    background: #68A2CA;
    cursor: pointer;
}

.pagination-link:focus:not(:active) {
    border-color: #756257;
}

.pagination-link:active:not(.pagination-current) {
    color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
    cursor: default;
}

.pagination::before {
    position: absolute;
    left: 0;
    right: 0;
    top: -31px;
    content: "";
    border-top: 1px solid #E6E6E6;
}

.select-number-form {
    margin-left: auto;
}

.select-hotel {
    width: 386px;
}

.select-control-number {
    width: 160px;
    padding: 13px 13px 13px 16px;
}

.page-hotel-number {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-right: 51px;
}

.number-of-pages {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.inner-mailing-head {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}

.inner-mailing-text {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-bottom: 26px;
}


/* popover */

.popover {
    position: absolute;
    top: 53px;
    left: -180px;
    z-index: 1;
    display: none;
    width: 400px;
    box-sizing: border-box;
}

.popover-content {
    height: 100%;
    padding: 15px;
    background-color: #ffffff;
    border: solid #E6E6E6;
    border-width: 1px 1px 0 1px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.popover-content::before {
    position: absolute;
    top: -8px;
    left: 200px;
    content: "";
    width: 20px;
    height: 9px;
    background-image: url("../img/triangle-white.svg");
}

.cart-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart-item:last-child {
    margin: 0;
}

.cart-item-content {
    display: flex;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

.cart-item-content:hover {
    opacity: 0.6;
}

.cart-item-content:focus-within:not(:active) {
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.cart-item-title-link:focus {
    outline: none;
}

.cart-item-image-link:focus {
    outline: none;
}

.cart-item-content:active {
    opacity: 0.3;
}

.cart-item-image {
    display: block;
    margin-right: 17px;
    border-radius: 50%;
}

.cart-item-description {
    flex-grow: 1;
    margin-right: 17px;
}

.cart-item-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
}

.cart-item-type {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.cart-item-button {
    display: block;
    width: 36px;
    height: 36px;
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.cart-item-button:focus:not(:active) {
    border-color: #83B3D3;
}

.cart-item-button-icon {
    fill: #000000;
    opacity: 0.2;
}

.cart-item-button-icon:hover {
    opacity: 1;
}

.cart-item-button-icon:active {
    opacity: 0.1;
}

.button-all-favorites {
    display: block;
    padding-top: 16px;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #756257;
    border: 3px solid transparent;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    outline: none;
    cursor: pointer;
}

.button-all-favorites:hover {
    background-color: #615048;
}

.button-all-favorites:focus:not(:active) {
    box-shadow: 0 0 0 3px #83B3D3;
}

.button-all-favorites:active {
    color: rgba(255, 255, 255, 0.3);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    ;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    width: 715px;
    margin: auto;
    padding: 62px 70px 70px 68px;
    background-color: #ffffff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    box-sizing: border-box;
}

.modal-close-button {
    position: absolute;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    padding: 0;
    padding-top: 3px;
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid transparent;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus:not(:active) {
    border-color: #83B3D3;
}

.modal-close-button:active svg {
    opacity: 0.3;
}

.modal-title {
    margin: 0;
    margin-bottom: 64px;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.modal-form-date {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.modal-form-date::after {
    position: absolute;
    top: 18px;
    left: 543px;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/date.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.modal-field {
    width: 420px;
    padding: 14px;
    padding-left: 19px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    background-color: #F2F2F2;
    outline: none;
    border: 0;
    border-radius: 4px;
}

.modal-field:hover {
    background-color: #E6E6E6;
}

.modal-field:focus:not(:active):placeholder-shown {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal-field:not(:placeholder-shown) {
    background-color: #ffffff;
    outline: 2px solid #000000;
    outline-offset: -2px;
}

.modal-form-date label {
    margin-top: 6px;
    margin-left: 2px;
}

.modal-arrival-invalid {
    position: absolute;
    top: 44px;
    left: 158px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #FF5757;
}

.modal-departure-correct {
    position: absolute;
    top: 44px;
    left: 158px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.modal-form-guests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.age {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.age label {
    margin-top: 8px;
    margin-left: 2px;
}

.age-adults {
    width: 288px;
}

.age-children {
    width: 230px;
    position: relative;
}

.age-info {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-left: -10px;
    background-color: #83B3D3;
    border-radius: 50%;
}

.age-info:hover {
    background-color: #68A2CA;
}

.age-button-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    background-image: url("../img/info.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    cursor: pointer;
}

.age-info-description {
    position: absolute;
    display: none;
    width: 256px;
    height: 143px;
    margin: 0;
    padding: 15px 18px 18px 22px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.age-info-description::before {
    position: absolute;
    top: -6px;
    left: 126px;
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background-color: #333333;
    transform: rotate(45deg);
}

.age-info:hover .age-info-description {
    display: block;
}

.age-area {
    width: 133px;
    padding: 0;
    padding: 8px 0px;
    margin: 0;
    background-color: #F2F2F2;
    border: 0;
    border-radius: 4px;
}

.age-field {
    width: 43px;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: transparent;
    border: 0;
    appearance: textfield;
    -moz-appearance: textfield;
}

.age-field::-webkit-outer-spin-button,
.age-field::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.age-button {
    margin: 0;
    padding: 3px;
    border: 3px solid transparent;
    border-radius: 4px;
    opacity: 0.3;
    cursor: pointer;
}

.age-button:hover {
    opacity: 1;
}

.age-button:focus:not(:active) {
    border-color: #83B3D3;
}

.age-button:active {
    opacity: 0.2;
}

.age-less-button {
    margin-left: 15px;
}

.age-more-button {
    margin-left: 6px;
}

.age-more-icon {
    width: 13px;
    vertical-align: middle;
}

.age-less-icon {
    width: 13px;
    vertical-align: middle;
}

.modal-link-search {
    display: block;
    width: 575px;
    padding: 7px 255px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #83b3d3;
    border-radius: 10px;
    border: 3px solid transparent;
    outline: none;
}

.modal-link-search:hover {
    background: #68A2CA;
    cursor: pointer;
}

.modal-link-search:focus:not(:active) {
    border-color: #756257;
}

.modal-link-search:active {
    color: rgba(255, 255, 255, 0.3);
}
